<br>

<table width="424" cellpadding="2" cellspacing="0">

  <tr> 

    <td width="124"><img src="images/icons/foldericons/newfolder.gif" alt="new posts"> new 

      posts</td>

    <td width="183"><img src="images/icons/foldericons/newhotfolder.gif" alt="new posts [popular]"> 

      new posts [popular]</td>

    <td width="103"><img src="images/icons/foldericons/lockfolder.gif" alt="closed topic"> 

      closed topic</td>

  </tr>

  <tr> 

    <td height="48"><img src="images/icons/foldericons/folder.gif" alt="no new posts"> no 

      new posts</td>

    <td><img src="images/icons/foldericons/hotfolder.gif" alt="no new posts [popular]"> 

      no new posts [popular]</td>

    <td><img src="images/icons/foldericons/sticky.gif" alt="sticky topic"> 

      sticky topic</td>

  </tr>

</table>

