<tr>
  <td bgcolor="$bg1" width="125" valign="top">
   <table width="100%" cellpadding="1" cellspacing="0">
	  <tr><td align="center"><a name="$postID">$username $member</a></td></tr>
	  <tr><td align="center" class="small">$usertype</td></tr>
	  <tr><td align="center">$avatar</td></tr>
	  <tr><td align="center">$rang</td></tr>
	  <tr><td align="center" class="small">$posts Posts</td></tr>
	  <tr><td align="center" class="small">registered: $registered</td></tr>
	 </table>
  </td>
  <td bgcolor="$bg2" valign="top" width="*">
    <table width="100%" cellpadding="1" cellspacing="0">
	   <tr>
	  	<td><img src="images/icons/posticon.gif" width="10" height="11"> <i>$date, $time </i> $profile $pm $buddy $email $hp $statuspic</td>
      <td align="right"> $quote$actions&nbsp;</td>
     </tr>
    </table>
    <hr width="50%" noshade color="$border" align="left" size="1">
    <span style="overflow:hidden;">$message</span><span class="small">$signatur</span>
  </td>
</tr>
<tr><td colspan="2" bgcolor="$pagebg"></td></tr>