            <div id="login_head" class="uppercase"><a href="index.php?site=register"><a href="logout.php">%logout%!</a></a></div>
            <p class="spaced">
                <strong>%welcome_back%:</strong><br />
                $username
            </p>
            <ul class="liste_login">
                <li class="grey_bg">&#8226; <a href="index.php?site=loginoverview">%overview%</a></li>
                <li class="red_bg"><a href="index.php?site=myprofile">%edit_account%</a></li>
                <li class="red_bg"><a href="index.php?site=messenger">%messenger%</a>$newmessages</li>
                <li class="red_bg"><a href="index.php?site=usergallery">%galleries%</a></li>
                <li class="red_bg"><a href="index.php?site=buddys">%buddy_list%</a></li>                <li class="grey_bg">$admin</li>
            </ul>
