<br>
<!--
<a href="http://dd-gfx.de">Copy &copy; by xXRobofishXx &amp; Design Dimensions</a>
-->
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td width="49%" valign="top">
  <table width="100%" cellpadding="2" cellspacing="1" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Userpic</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
		<tr> 
          <td height="215" align="center" bgcolor="$bg1">$userpic</td>
        </tr>
  </table>
  </td>
  <td width="10"></td>
  <td width="49%" valign="top">
    <table width="100%" cellpadding="2" cellspacing="1" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Usergalleries</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
		<tr> 
          <td height="215" align="center" bgcolor="$bg1">$usergallery</td>
        </tr>
  </table>
  </td>
  </tr>
  <tr><td colspan="3" height="10"></td></tr>
  <tr>
    <td width="49%" valign="top" colspan="3"><table width="100%" cellpadding="2" cellspacing="1" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Personal Info</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="150" bgcolor="$bg1"><img src="images/profile/nickname.gif" width="16" height="16" />Nickname:</td>
          <td bgcolor="$bg2"><b>$nickname</b> $member</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/status.gif" width="16" height="16" />Status:</td>
          <td bgcolor="$bg4">$status</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/usertitle.gif" width="16" height="16" />Usertitle:</td>
          <td bgcolor="$bg2">$usertype ( $rang )</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/contact.gif" width="16" height="16" />Contact:</td>
          <td bgcolor="$bg4">$email $pm $buddy $icq</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/hp.gif" width="16" height="16" />Homepage:</td>
          <td bgcolor="$bg2">$homepage</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/realname.gif" width="16" height="16" />Real Name:</td>
          <td bgcolor="$bg4">$sex $firstname $lastname</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/age.gif" width="16" height="16" />Age:</td>
          <td bgcolor="$bg2">$birthday</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/location.gif" width="16" height="16" />Location:</td>
          <td bgcolor="$bg4">$profilecountry $town</td>
        </tr>
        <tr>
          <td bgcolor="$bg1"><img src="images/profile/registeredsince.gif" width="16" height="16" />Registered since:</td>
          <td bgcolor="$bg2">$registered</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/clock.gif" width="16" height="16" />Last Login:</td>
          <td bgcolor="$bg4">$lastlogin</td>
        </tr>
      </table>
	  </td>
	  </tr>
		<tr><td height="10" colspan="3"></td></tr>
	  <tr>
	  <td colspan="3">
      <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &#8226; About</td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">$about</td>
        </tr>
	  </table>
	  </td>
	  </tr>
		<tr><td height="10" colspan="3"></td></tr>
	  <tr>
	  <td colspan="3">
	  <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &#8226; XFIRE</td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">$xfire</td>
        </tr>
      </table>
	  </td>
	  </tr>
		<tr><td height="10" colspan="3"></td></tr>
	  <tr>
	  <td valign="top" width="49%">
	  <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead" colspan="2">&nbsp; &#8226; Clan </td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg" colspan="2"></td>
        </tr>
        <tr> 
          <td width="150"  bgcolor="$bg1"><img src="images/profile/clan.gif" width="16" height="16" />Clan:</td>
          <td bgcolor="$bg2">$clantag $clanname</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/hp.gif" width="16" height="16"/>Clanpage:</td>
          <td bgcolor="$bg4">$clanhp</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/mirc.gif" width="16" height="16" />Irc-Channel:</td>
          <td bgcolor="$bg2">$clanirc</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/history.gif" width="16" height="16" />Clan-History:</td>
          <td bgcolor="$bg4">$clanhistory</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/esl.gif" width="16" height="16" />Esl-Nick:</td>
          <td bgcolor="$bg2">$clanesl</td>
        </tr>
      </table>
	  <br />
      <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Equipment</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="150"  bgcolor="$bg1"><img src="images/profile/cpu.gif" width="16" height="16" />CPU:</td>
          <td bgcolor="$bg2">$cpu</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/mainboard.gif" width="16" height="16" />Mainboard:</td>
          <td bgcolor="$bg4">$mainboard</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/ram.gif" width="16" height="16" />RAM:</td>
          <td bgcolor="$bg2">$ram</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/monitor.gif" width="16" height="16" />Monitor:</td>
          <td bgcolor="$bg4">$monitor</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/graphic.gif" width="16" height="16" />Graphiccard:</td>
          <td bgcolor="$bg2">$graphiccard</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/sound.gif" width="16" height="16" />Soundcard:</td>
          <td bgcolor="$bg4">$soundcard</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/storage.gif" width="16" height="16" />Storage:</td>
          <td bgcolor="$bg2">$storage</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/inet.gif" width="16" height="16" />I-Connection:</td>
          <td bgcolor="$bg4">$connection</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/headset.gif" width="16" height="16" />Earphones:</td>
          <td bgcolor="$bg2">$headset</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/keyboard.gif" width="16" height="16" />Keyboard:</td>
          <td bgcolor="$bg4">$keyboard</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/mouse.gif" width="16" height="16" />Mouse:</td>
          <td bgcolor="$bg2">$mouse</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/mousepad.gif" width="16" height="16" />Mousepad:</td>
          <td bgcolor="$bg4">$mousepad</td>
        </tr>
      </table>
	  <br />
	  	<table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &#8226; Latest Visitors <span class="small">&nbsp;&nbsp;&nbsp;(visited $anzvisits 
            times)</span></td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        $lastvisits
      </table>
	  </td>
    <td width="10">&nbsp;</td>
    <td width="49%" valign="top">
      <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Favorite...</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="150"  bgcolor="$bg1"><img src="images/profile/game.gif" width="16" height="16" />Game:</td>
          <td bgcolor="$bg2">$fgame</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/clan.gif" width="16" height="16" />Clan:</td>
          <td bgcolor="$bg4">$fclan</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/map.gif" width="16" height="16" />Map:</td>
          <td bgcolor="$bg2">$fmap</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/weapon.gif" width="16" height="16" />Weapon:</td>
          <td bgcolor="$bg4">$fweapon</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/food.gif" width="16" height="16" />Food:</td>
          <td bgcolor="$bg2">$ffood</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/drink.gif" width="16" height="16" />Drink:</td>
          <td bgcolor="$bg4">$fdrink</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/movie.gif" width="16" height="16" />Movie:</td>
          <td bgcolor="$bg2">$fmovie</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/music.gif" width="16" height="16" />Music:</td>
          <td bgcolor="$bg4">$fmusic</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/song.gif" width="16" height="16" />Song:</td>
          <td bgcolor="$bg2">$fsong</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/book.gif" width="16" height="16" />Book:</td>
          <td bgcolor="$bg4">$fbook</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/actor.gif" width="16" height="16" />Actor / Actress:</td>
          <td bgcolor="$bg2">$factor</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/car.gif" width="16" height="16" />Car:</td>
          <td bgcolor="$bg4">$fcar</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/sport.gif" width="16" height="16" />Sport:</td>
          <td bgcolor="$bg2">$fsport</td>
        </tr>
      </table>
      <br>
      <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Statistics</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="70%" bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Forumtopics:</td>
          <td width="30%" align="center" bgcolor="$bg2">$anzforumtopics</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Forumposts:</td>
          <td bgcolor="$bg4" align="center">$anzforumposts</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Newsposts:</td>
          <td bgcolor="$bg2" align="center">$anznewsposts</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Newscomments:</td>
          <td bgcolor="$bg4" align="center">$comments[0]</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Clanwarcomments:</td>
          <td bgcolor="$bg2" align="center">$comments[1]</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Articlecomments:</td>
          <td bgcolor="$bg4" align="center">$comments[2]</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" />Democomments:</td>
          <td bgcolor="$bg2" align="center">$comments[3]</td>
        </tr>
        <tr> 
          <td bgcolor="$bg3"><img src="images/profile/in.gif" width="16" height="16" alt="in" />Messenger (IN):</td>
          <td bgcolor="$bg4" align="center">$pmgot</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1"><img src="images/profile/out.gif" width="16" height="16" alt="out"/>Messenger (OUT):</td>
          <td bgcolor="$bg2" align="center">$pmsent</td>
        </tr>
      </table></td>
  </tr>
</table>
<br>
<br>
<br>
<br>
