		<form method="post" name="login" action="checklogin.php"> 
			<div id="login_head" class="uppercase"><a href="index.php?site=register">%register_now%!</a></div>
			<input name="ws_user" type="text" class="login_form" value="Username" onfocus="this.value=''" /><br />
			<input name="pwd" type="password" class="login_form" value="Password" onfocus="this.value=''" /><br />
			<input type="submit" name="submit" id="usr_login" value="Go" /><span class="right">&#8226; <a href="index.php?site=lostpassword">%lost_password%</a></span>
		</form>
		<div class="clear"></div>
