		<div class="title">
			<span class="left"><img src="design/news_pfeil.jpg" class="left_pic" alt="" /> <a href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a> $isintern - $date</span>
			<span class="right"><a href="index.php?site=news&amp;show=$rubrikname_link"><small>$rubrikname</small></a></span>
		</div>
		<span class="center">$rubricpic</span>
		<div class="inhalt">
			$content<br /><br />
			<p>%links%: $related</p>
			<p class="spacer">$adminaction</p>
			<hr />
			<div class="spacer">$comments</div>
		</div>
